In [1]:
# prompt: mount drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
review_restaurants = pd.read_csv('/content/drive/MyDrive/recommender_dataset/Yelp/yelp_dataset/yelp_review_restaurants_sentiment.csv')
df_users = pd.read_csv('/content/drive/MyDrive/recommender_dataset/Yelp/yelp_dataset/yelp_users.csv')
df_restaurants = pd.read_csv('/content/drive/MyDrive/recommender_dataset/Yelp/yelp_dataset/yelp_restaurants.csv')

In [4]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             1125 non-null   object
 1   name                1125 non-null   object
 2   review_count        1125 non-null   int64
 3   yelping_since       1125 non-null   object
 4   useful              1125 non-null   int64
 5   funny               1125 non-null   int64
 6   cool                1125 non-null   int64
 7   elite               316 non-null    object
 8   friends             1125 non-null   object
 9   fans                1125 non-null   int64
 10  average_stars       1125 non-null   float64
 11  compliment_hot      1125 non-null   int64
 12  compliment_more     1125 non-null   int64
 13  compliment_profile  1125 non-null   int64
 14  compliment_cute     1125 non-null   int64
 15  compliment_list     1125 non-null   int64
 16  compliment_note     1125 non-null   int64
 17  compliment_plain    1125 non-null   int64
 18  compliment_cool     1125 non-null   int64
 19  compliment_funny    1125 non-null   int64
 20  compliment_writer   1125 non-null   int64
 21  compliment_photos   1125 non-null   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 193.5+ KB

In [5]:
df_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   114 non-null    object
 1   name          114 non-null    object
 2   address       114 non-null    object
 3   city          114 non-null    object
 4   state         114 non-null    object
 5   postal_code   114 non-null    object
 6   latitude      114 non-null    float64
 7   longitude     114 non-null    float64
 8   stars         114 non-null    float64
 9   review_count  114 non-null    int64
 10  is_open       114 non-null    int64
 11  attributes    109 non-null    object
 12  categories    114 non-null    object
 13  hours         11 non-null     object
dtypes: float64(3), int64(2), object(9)
memory usage: 12.6+ KB

In [6]:
review_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    1202 non-null   object
 1   user_id      1202 non-null   object
 2   business_id  1202 non-null   object
 3   stars        1202 non-null   int64
 4   useful       1202 non-null   int64
 5   funny        1202 non-null   int64
 6   cool         1202 non-null   int64
 7   text         1202 non-null   object
 8   date         1202 non-null   object
 9   POSITIVE     1202 non-null   float64
 10  NEGATIVE     1202 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 103.4+ KB